.Rproj.user
.Rhistory
.RData
.Ruserdata
result

/.quarto/
workspace
AIRTool_v2.2.html
AIRTool_v2.2_files
target/
info.html
logs/
Results.csv
ResultsOut.csv
data/
.direnv/
plots/
results
scripts/AIRReport.pdf
scripts/Zvars_test.csv
info_files/
scripts/AIRReport.tex
scripts/graphtxt.txt
dotfile.txt
graphtxt.txt
image*.png
info.html
*.jar
tetrad/
graphtext*.txt
airtool.html
airtool_files
input/dataset_tests
25by100k.csv
saved_50nodes_400Kcases.csv
.flake-backups/

